body {
            background-color: #002FA7;
            color: white;
/*            font-family: 'Courier New', Courier, monospace;*/
            font-family: "M PLUS 1 Code", monospace;
            font-size: 26px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            text-align: left;
        }

        h1, p {
            margin: 0 0 1em 0;
        }

        p {
            line-height: 1.5;
        }

        .buttons {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .button {
            background-color: transparent;
            border: 1px solid white;
            padding: 10px;
            text-align: left;
            font-size: 16px;
            color: white;
            cursor: pointer;
            width: 200px;
        }

        .button:before {
            content: '► ';
            color: white;
        }

        .button:hover {
            background-color: white;
            color: #002FA7;
        }